# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục chứa thư viện (TUYỆT ĐỐI KHÔNG ĐẨY LÊN)
node_modules/
client/node_modules/
server/node_modules/

# Build files (Sản phẩm sau khi build)
dist/
client/dist/
build/
client/build/

# Các file cấu hình môi trường chứa Mật khẩu, DB (TUYỆT ĐỐI BẢO MẬT)
.env
.env.local
server/.env
client/.env

# OS rác
.DS_Store
Thumbs.db